:root {
    --fuenterHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --colorPrimario: #473335;
    --colorSecundario: #774c3c;
    --gris: #E1E1E1;
    --blanco: #FFFFFF;
    --negro: #000000;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Gradient */
body {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Centra horizontal y vericalmente */
}

/* Globales */
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
.boton {
    font-family: var(--fuenterHeading);
    color: var(--blanco);
    background-color: var(--gris);
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;
    background-color: var(--colorSecundario);
}
.boton:hover {
    cursor: pointer;
    transition: ease-in .6s;
    background-color: var(--colorSecundario);
}

/* Utilidades */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

.box-shadow {
    -webkit-box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.34);
}

/* Header */
.header {
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Centra horizontal y vericalmente */ 
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}
.logo {
    color: var(--negro);
}
.logo h1 {
    font-size: 6rem;
}
.logo__nombre {
    font-weight: normal;
}
.logo__bold {
    font-weight: bold;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundario);
    gap: 2rem; 
}
.navegacion a {
    color: var(--negro);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
}

.navegacion a:hover {
    color: var(--blanco);
    transition: ease-in .2s;
}

/* Footer */

.footer {
    background-color: var(--negro);
    color: var(--blanco);
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
.footer a {
    color: var(--blanco);
}
.footer p {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--blanco);
}

/* Cocina */
.cocina {
    text-align: center;
}
.cocina img {
    display: inline;
}
.cocina__titulo {
    text-transform: uppercase;
    display: inline;
}
.cocina__logo {
    height: 6rem;
    width: 6rem;
}
.lista {
    text-align: center;
    border: solid 3px var(--colorPrimario);
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(71, 51, 53, .95);
    margin: 2rem 0;
}
.lista ul {
    padding: 0;
}
.lista li {
    border: solid 3px var(--gris);
    border-radius: 1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.lista p {
    margin: 0;
    color: var(--blanco);
}

.lista .boton {
    border-radius: .6rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    margin-bottom: 0;
    background-color: var(--negro);
}
.botones {
    display: flex;
    justify-content: space-between;
}